.header {
  /* padding-right: 10px; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  height: 60px;
  width: 100%;
  background-color: rgb(161, 6, 6);
}

.gameName {
  font-weight: 700;
  font-size: 38px;
  letter-spacing: 0.02em;
  color: #21ecf3;
  margin-left: auto;
  margin-right: auto;
}

.singIn {
  width: 65px;
  height: 20px;
  /* margin-right: 20px; */
}

.singOut {
  width: auto;
  height: 20px;
  margin-right: 10px;
}
